:root {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
  /* colors */
  --colorTextTitles: #020817;
  --colorTextDescription: #94a3b8;
  --colorBorderSection: #806aff;
  --colorTextPrimarySection: #ffffff;

  /* font-size */
  --font-sizeH2: 1.8rem;
  --font-sizeDescription: 1.7rem;
}
body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.home-container {
  width: 35rem;
}

.projects-container {
  max-width: 70rem;
}
.nav-bar {
  color: var(--colorTextTitles);
  gap: 1rem;
  cursor: pointer;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  font-size: var(--font-sizeH2);
}
.nav-bar a {
  color: var(--colorTextTitles);
  text-decoration: none;
}

/* 
Inicio Estilização da pagina de projetos 
*/

p {
  font-size: var(--font-sizeH2);
  color: var(--colorTextTitles);
}
.container-project {
  width: 100%;
}

.container-project img {
  width: 100%;
}
.container-project span {
  color: var(--colorTextTitles);
  font-size: var(--font-sizeH2);
  text-align: start;
  display: flex;
}
.container-project p {
  text-align: justify;
  color: var(--colorTextDescription);
}
/* 
Fim Estilização da pagina de projetos 
*/
.headerContent img {
  border-radius: 100px;
}
.headerContent h2 {
  color: var(--colorTextTitles);
  font-size: var(--font-sizeH2);
}
.headerContent .description {
  color: var(--colorTextDescription);
  font-size: var(--font-sizeDescription);
  margin-bottom: 3.3rem;
  display: flex;
  justify-content: center;
  display: block;
}
.primary-container {
  background-color: var(--colorBorderSection);
  padding: 1px;
  margin-bottom: 1rem;
}
.primary-container h2 {
  color: var(--colorTextPrimarySection);
}
.primary-container p {
  color: var(--colorTextPrimarySection);
}
.container-section {
  border: 1px solid var(--colorBorderSection);
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}
.section-title {
  color: var(--colorTextTitles);
  font-size: var(--font-sizeH2);
  font-weight: 400;
}
.section-description {
  color: var(--colorTextDescription);
  font-size: var(--font-sizeDescription);
}
.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}
